.footer {
  display: flex;
  justify-content: space-between;
  width: 93%;
  position: fixed;
  bottom: 3vw;
}
.next,
.previous {
  cursor: pointer;
}
.img {
  width: 20vw;
  height: auto;
}
.title {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
}
.boxes {
  display: flex;
  justify-content: space-between;
  margin: 5vw auto;
  width: 80vw;
  align-items: baseline;
}

.blob {
  z-index: -1;
  position: absolute;
  left: -50px;
  top: -10vw;
  animation-name: blob;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes blob {
  from {
    scale: (0.75);
  }
  to {
    scale: (1.5);
  }
}
.titleText {
  margin-top: 3vw;
}
.box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform-origin: center;
}
.title {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  top: 45%;
  left: 0;
  right: 0;
  margin: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  width: 350px;
}
.circle {
  width: 350px;
  transform-origin: center;
  cursor: pointer;
}
.circle:hover {
  animation: hoverAnimation 0.15s normal both;
}
@keyframes hoverAnimation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(10deg);
  }
}
.wrapper {
  height: 100vh;
  position: relative;
  padding: 0px 100px;
  max-width: 1760px;
  margin: 0 auto;
  width: 100vw;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  width: 300px;
}
.show {
  opacity: 1;
  transform: translateY(10px);
  transition: opacity 0.8s ease, transform 0.8s ease; /* Geçiş efekti ekleme */
}
.visible {
  opacity: 0;
  transform: translateY(0px);
  transition: opacity 0.8s ease, transform 0.8s ease; /* Geçiş efekti ekleme */
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .wrapper {
    padding: 20px;
    height: fit-content;
    max-width: 600px;
  }
  .blob {
    width: 250px;
    height: 250px;
  }
  .boxes {
    flex-direction: column;
    margin: 50px auto 0 auto;
    width: auto;
  }
  .circle {
    width: 270px;
  }
  .title {
    font-size: 14px;
    position: inherit;
    margin-bottom: -100px;
    width: max-content;
  }
  .box {
    margin: 50px 0 0 0;
    width: fit-content;
  }
  .list {
    height: max-content;
    width: 100%;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    padding: 0 50px;
    height: fit-content;
    margin-bottom: 100px;
  }
  .blob {
    left: -100px;
    top: -200px;
  }
  .boxes {
    margin: 50px auto 0 auto;
    overflow-x: auto;
  }
  .circle {
    width: 270px;
  }
  .title {
    font-size: 14px;
    width: fit-content;
  }
  .box {
    width: fit-content;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1441px) {
  .wrapper {
    padding: 0 80px;
  }
  .boxes {
    margin: 50px auto 0 auto;
    width: auto;
  }
  .circle {
    width: 300px;
  }
  .title {
    font-size: 16px;
    width: fit-content;
  }
  .blob {
    left: -100px;
    top: -200px;
  }
}
